/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

#content {
  width: 50%;
  margin: auto;
}
#content h2 {
  text-align: center;
}

.nav_header {
  background-image: linear-gradient(bottom, rgb(65,108,163) 12%, rgb(69,121,186) 49%, rgb(90,146,214) 90%);
background-image: -o-linear-gradient(bottom, rgb(65,108,163) 12%, rgb(69,121,186) 49%, rgb(90,146,214) 90%);
background-image: -moz-linear-gradient(bottom, rgb(65,108,163) 12%, rgb(69,121,186) 49%, rgb(90,146,214) 90%);
background-image: -webkit-linear-gradient(bottom, rgb(65,108,163) 12%, rgb(69,121,186) 49%, rgb(90,146,214) 90%);
background-image: -ms-linear-gradient(bottom, rgb(65,108,163) 12%, rgb(69,121,186) 49%, rgb(90,146,214) 90%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.12, rgb(65,108,163)),
  color-stop(0.49, rgb(69,121,186)),
  color-stop(0.9, rgb(90,146,214))
);
  border: 1px solid #315589;
  color: white;
  height: 4em;
  line-height: 4em;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 144, 0.52);
  -moz-box-shadow:    0px 0px 5px rgba(0, 0, 144, 0.52);
  box-shadow:         0px 0px 5px rgba(0, 0, 144, 0.52);

}
.nav_header .brand {
  color: white;
  font-size: 1.3em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:bold;
  margin-left: 15px;
  text-shadow: 0px 0px 30px rgba(0, 0, 200, 1);
  opacity: 0.9;
}

.input-wrap {
  background-color: #EEEEEE;
  padding: 10px 0;
}
.input-wrap span.add-on {
  border: 0;
  padding: 5px;
  margin: 0;
}
.input-wrap .input-prepend, .input-wrap .input-append {
  margin: 0 auto;
  width: 90%;
}
